@import './variables';

.jumbotron {
    background-color: rgb(255, 255, 255);
    border-top: $bayou_blue 40px solid;
    border-bottom: none;
  }

.jumbotron .inner{
    height: 120px;  
    //height: 90px;
    // background-position: -0px -0px;
    position: relative;
    display:flex; 
    justify-content: center; 
    align-items:center; 
    flex-direction: column; 
    transition: background .3s, margin .2s;
  }

  .jumbotron .inner h1{
    position: absolute;
    margin: 0;
    left: 4%;
    // top: 50%;
    // left: 50%;  /* Center horizontally */
    // transform: translate(-50%, -50%);  /* Adjust for element's size */
    width: max-content;
    color: $bayou_blue;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    text-transform:none; 
    -webkit-background-clip: text;
    
  }

  .logo-image{
    background-size: contain;
    display: flex;
    align-items: center;
    width: 90px;
    height: 90px;
    position: absolute;
    background-color: $bayou_blue;
    background-position: center;

    img{
      width: 100%;
    }
  }

  .logo-image.right{
    right: 3%;
    border-bottom: 6px solid;
    border-color: #4a7f8c;
    border-left: 0;
    border-top: 0;
    align-items: center;
    justify-content: center;
  }

  .logo-image.left{
    display: none;
    // right: 0%;
    // /* left: 0%; */
    // border-top-left-radius: 1%;
    // border-bottom-left-radius: 4%;
    // border: 1px solid;
    // border-right: 0;
    // border-top: 0;
    // align-items: center;
    // justify-content: flex-end;
  }

  @media (max-width: 550px) {

    .logo-image{
      display: none;
    }
  }


  @media (max-width: 450px) {
    .jumbotron .inner h1{
      right: inherit;
      font-size: 3.25rem; 
    }
  }

  @media (max-width: 400px) {
    .jumbotron .inner h1{
      font-size: 3rem; 
    }
  }

  @media (max-width: 340px) {
    .jumbotron .inner h1{
      font-size: 2.75rem; 
    }
  }