@import './variables';

.jumbotron {
    background-color: rgb(255, 255, 255);
    border-top: $bayou_blue 40px solid;
    border-bottom: none;
  }

.jumbotron .inner{
    height: 120px;  
    // background-position: -0px -0px;
    display:flex; 
    justify-content: center; 
    align-items:center; 
    flex-direction: column; 
    transition: background .3s, margin .2s;
  }

  .jumbotron .inner h1{
    position: absolute;
    right: 5%;
    width: max-content;
    color: $bayou_blue;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    text-transform:none; 
    -webkit-background-clip: text;
    
  }

  .logo-image{
    background: url('../Img/logo/yb-logo.png') no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 1%;
    background-color: $bayou_blue;
    background-position: center;
  }

  @media (max-width: 550px) {

    .logo-image{
      display: none;
    }
  }


  @media (max-width: 450px) {
    .jumbotron .inner h1{
      right: inherit;
      font-size: 3.25rem; 
    }
  }

  @media (max-width: 400px) {
    .jumbotron .inner h1{
      font-size: 3rem; 
    }
  }

  @media (max-width: 340px) {
    .jumbotron .inner h1{
      font-size: 2.75rem; 
    }
  }