.App {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}
.map {
  height: 300px;
}

#root {
  background: url(./Img/DSC_0572.JPG)  bottom no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -22;
  
}

@media screen and (min-width: 1024px){
    .map {
        height: 500px;
    }
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
col img {
  margin: 5px;
}
.content-row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content-row2{
  flex-direction: column-reverse;
}
.mapHeader{
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-row div {
  width: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-row img {
  align-self: center;
}
.content-row h3 {
  text-align: start;
}
.container-home {
  padding-right: 1px;
  padding-left: 1px;
  min-height: 750px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ebe4d7ee;
}
.container-home h2 {
  background: radial-gradient(#37526b, #527286, #1d3a55);
  color: beige;
  margin-top: 1px;
  padding: 5px 20px;
  font-family: serif;
}


@media (min-width: 768px){
  .container-home {
      width: 750px;
  }
  .content-row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: row;
  }
  #content-row2{
    flex-direction: column;
  }
 
  .ok {
    height: 1250px;
  }
  }
@media (min-width: 992px) {
  .container-home {
      width: 840px;
  }
  .ok {
    height: 1250px;
  }
}
@media (min-width: 1200px) {
.container-home {
    width: 920px;
}
.ok {
  height: 1250px;
}
}
#footer{
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  /* background: radial-gradient(#37526b, #38576b, #1d3a55); */
  background-color: #000000;
  /* background-image: none; */
  color: white;
  /* position: absolute; */
  bottom: 0;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -30px;
}
.image-container-contact {
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -30px;
}
.home-main-image {
  width: 100%;
}
.home-paragraph h3 {
  color: #000000;
}
.red-header {
  color: #000000;
}
.home-wine-container {
  padding: 20px;
}

  .jumbotron .h1,.jumbotron h1{color:inherit}
  .jumbotron p{
    margin-bottom:15px;font-size:21px;font-weight:200
  }
  .jumbotron>hr{
    border-top-color:#d5d5d5
  }
  .container .jumbotron,.container-fluid .jumbotron{padding-right:60px;padding-left:60px} 
  .jumbotron .inner{
    width: 100%;
  } 
  .jumbotron .h1, .thumbnail{
    display:block;
    padding:4px;
    margin-bottom:20px;
    line-height:1.42857143;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:border .2s ease-in-out;
    -o-transition:border .2s ease-in-out;transition:border .2s ease-in-out
  }
.jumbotron{ 
  margin-top: 0px; 
  overflow: hidden; 
  color:inherit;
  background: none; 
  background-attachment: fixed;
  min-height:auto;
  -webkit-background-size:cover; 
  -moz-background-size:cover; 
  background-size:cover;
  padding: 0px;
  border-bottom: #111118;
  border-bottom-style: groove;
  border-bottom-width: 3px;
}
.jumbotron .inner{
  height: 150px;  
  /* background: radial-gradient(#af8a6acc, #966336d2, #774a22d2); */
  background-image: url('./Img/teak_wood.JPG');
  background-position: -0px -0px;
  background-size: 100% 100% !important; 
  display:flex; 
  /* text-shadow: #28288d; */
  justify-content: center; 
  align-items:center; 
  flex-direction: column; 
  
}


.jumbotron .inner h1{
  height: 100%;
  text-align: center;
  font-family: cursive;
  -webkit-filter: drop-shadow(1px 2px 0.0px rgb(8, 16, 61));
  filter: drop-shadow(5px 3px 0.1px rgb(8, 9, 61));
  font-size: 90px;
  font-weight: 600;
  text-transform:none; 
  background: -webkit-linear-gradient(#ffffff, #eff1f4,  #fbfdfe); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
  /* text-rendering: geometricPrecision; */
  text-decoration: underline;
  text-decoration-style: double; 
  text-underline-position: below; 
}
.jumbotron .inner  h2{
  font-family: cursive;
  font-size: 22px;
  font-weight: 100;
  text-rendering: geometricPrecision;
  /* text-decoration-style: double; */
  /* text-underline-position: below; */
  text-decoration: overline;
  margin-top: 140px;
  justify-self: flex-end;
  bottom: 0;
  /* -webkit-filter: drop-shadow(1px 1px 1px rgb(0, 0, 0)); */
  /* filter: drop-shadow(2px 24px 1px rgba(0, 0, 0, 0.062)); */
}
#planning {
  height: 800px;
  min-height: 200px;
}
.slider {
  position: relative;
 }
.slide1 {
  animation:fade 10s infinite;
  -webkit-animation:fade 10s infinite;
  z-index: 0;
  position: absolute;
 }
 .slide2 {
  animation:fade2 10s infinite;
  -webkit-animation:fade2 10s infinite;
  z-index: 0;
  position: absolute;
 }
 .slide3 {
  animation:fade3 10s infinite;
  -webkit-animation:fade3 10s infinite;
  z-index: 0;
  width: 108%;
  
 }
@keyframes fade1
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@media (min-width: 200px) {
  .jumbotron h1{
    font-size:38px; 
    line-height: 0.8;
    text-decoration-line: underline
  }
}
@media (min-width: 400px) {
  .jumbotron h1{
    font-size:55px; 
    line-height: 0.8;
    text-decoration-line: underline
  }
}

@media (min-width: 800px) {
  .jumbotron h1{
    font-size:60px; 
    line-height: 0.8;
    text-decoration-line: none;
  }
  .unlimited{
    font-size:60px; 
    line-height: 0.8;
    text-decoration-line: none;
  }
  .jumbotron .inner img{
    position: absolute;
    width: 700px;
    margin-top: -160px; 
    color: transparent;
    -webkit-filter: drop-shadow(0px 183px 0.0px rgb(3, 3, 11));
    filter: drop-shadow(0px 183px 0.0px rgb(2, 3, 7));
    }
    .jumbotron .inner  h2{
      font-size: 24px;
      margin-top: 148px;
    }
}
 
@media (min-width:1200px) {
  .jumbotron h1{
    font-size:78px; 
    line-height: 0.8;
  }
  .profile-image {
    background: radial-gradient(#40404b, #111118); 
    width: 56px;
    padding: 20px;
    border-style: solid;
    border-radius: 50%;
  }
  .jumbotron .inner img{
    position: absolute;
    width: 860px;
    margin-top: -150px; 
    color: transparent;
    -webkit-filter: drop-shadow(0px 183px 0.0px rgb(61, 8, 10));
    filter: drop-shadow(0px 183px 0.0px rgb(61, 8, 10));
    }
  }
  
  @media screen and (max-width: 1200px){ 
    .jumbotron .inner{ 
      background-size: 100% 199px !important; 
      height: 140px;
    }
  }
  @media screen and (max-width: 980px) { 
    .inner { 
      background-size: 100% 157px;
    }
  }
  @media screen and (max-width: 956px) { 
    .jumbotron .inner{ 
      height: 200px;
    }
  }
  @media screen and (max-width: 800px) { 
    .jumbotron .inner{ 
      /* background: 0 !important;  */
      height: 200px ;
    }
    .jumbotron .inner h1{ 
      /* background: 0 !important;  */
      height: 100% ;
    }
  }
  @media screen and (max-width: 487px) { 
    .jumbotron .inner{ 
      /* background: 0 !important;  */
      height: 160px ;
    }
    .jumbotron .inner h1{ 
      /* background: 0 !important;  */
      font-size: 60px;
    }
  }